/Test.class
/TestG.class
/TestJu.class
/VendingMachine$Product.class
/VendingMachine$State$1.class
/VendingMachine$State$2.class
/VendingMachine$State$3.class
/VendingMachine$State$4.class
/VendingMachine$State.class
/VendingMachine.class
